@model IEnumerable<WebApplication7.Models.Supervisor>

@{
    ViewData["Title"] = "Index";
}

<h2>Betreuer</h2>

<p>
    <a class="btn btn-primary" asp-action="Create"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;&nbsp;Neuen Betreuer hinzufügen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td class="text-center" style="vertical-align: middle">
                    <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="@item.Id">Bearbeiten</a>
                </td>
            </tr>
        }
    </tbody>
</table>
